core/assets/data/schema/base.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:simpleType name="id">
        <xs:restriction base="xs:string">
            <xs:pattern value="\w+"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="color">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{6}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="texture">
        <xs:complexType>
            <xs:attribute name="tint" type="color"/>
            <xs:attribute name="path" type="xs:string"/>
        </xs:complexType>
    </xs:element>

</xs:schema>